
<%- include("partials/header.ejs") %>
<div class="con">
    
    <h1 class="fade-in">Do you guys want to express something?!</h1>
    <h2 class="fade-in">Go into the create post and write something</h2>
    <h2 class="fade-in">You can also check the previous posts by clicking on posts</h2>
</div>

